<h1>Make a new student!<h1>

<%= form_for @student do |f| %>
  <div class="field">
    <%= f.label :name, "Student Name" %>
  </div>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="form-actions">
    <%= f.submit "Add" %>
  </div
<% end %>
